<mat-toolbar class="flex flex-row justify-between header">
  <div class="flex lfex-row gap-1">
    <img (click)="router.navigate([''])" src="assets/logo.png" class="w-20 mr-2 h-9 cursor-pointer bg-white rounded-lg" />
    <span class="text-2xl font-semibold"> Miracle ChatBot</span>

  </div>
  <div class="flex flex-row justify-end items-center gap-2">
    <button mat-button [matMenuTriggerFor]="headerMenu">
      <mat-icon>account_circle</mat-icon>
      Mansi Patel
    </button>
    <mat-menu #headerMenu="matMenu" class=" flex flex-col justify-center w-36">
      <button mat-menu-item>
        <mat-icon>person</mat-icon>
        <span>Profile</span>
      </button>
      <button mat-menu-item>
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
    </div>
</mat-toolbar>
<!-- md:w-8 md:h-8 lg:w-8 lg:h-8  -->
<div class="flex flex-row justify-center btn-language-container">
  <button class="btn-language" mat-button (click)="router.navigateByUrl('/miracle-chat/text-chat')"
    [class.active-button]="isTabActive('/text-chat')" style="color: #2196F3; width: 200px !important">
    TEXT
  </button>
  <button class="btn-language" mat-button (click)="router.navigateByUrl('/miracle-chat/voice-chat')"
    [class.active-button]="isTabActive('/voice-chat')" style="color: #2196F3; width: 200px !important">
    VOICE
  </button>
</div>