<div
  class="flex flex-col w-auto flex-wrap gap-2 lg:flex xl:flex justify-between"
>
  <div *ngIf="chat === 'text'">
    <div
      *ngIf="user === 'sender'"
      class="flex flex-row gap-2 items-center justify-between py-2 px-2" style="flex-direction: column;"
    >
      <div
        class="px-2 py-2 font-medium text-sm flex-none  text-[#25476A] bg-[#B2C7D3]  max-w-fit"
      >
        <span> {{ message }}</span>
      </div>
      <span class="text-xs font-light text-slate-300">
        {{ timeStamp | date : "hh:mm a" }}
      </span>
    </div>

    <div
      *ngIf="user === 'receiver'"
      class="flex flex-row gap-2 items-center justify-between py-2 px-2" style="flex-direction: column;"
    >
    <div class="px-2 py-2 font-medium text-sm flex-none text-[#343B36] bg-[#C2CDC5] max-w-fit">
      <span> {{ message }}</span>
    </div>
      <span class="text-xs font-light text-slate-300">
        {{ timeStamp | date : "hh:mm a" }}
      </span>
    </div>
  </div>

  <div *ngIf="chat === 'voice'">
    <div
      *ngIf="user === 'sender'"
      class="flex flex-row gap-2 items-center justify-between py-2 px-2" style="flex-direction: column;"
    >
      <div
        class="px-2 py-2 font-medium text-sm flex-none text-[#25476A] bg-[#CED9DD] max-w-fit"
      >
        <span>
          <audio [src]="audioUrl" controls></audio>
        </span>
      </div>
      <span class="text-xs font-light text-slate-300">
        {{ timeStamp | date : "hh:mm a" }}
      </span>
    </div>

    <div
      *ngIf="user === 'receiver'"
      class="flex flex-row gap-2 items-center justify-between py-2 px-2" style="flex-direction: column;"
    >
    <div class="px-2 py-2 font-medium text-sm flex-none text-[#343B36] bg-[#C2CDC5] max-w-fit">
      <span>
        <audio [src]="audioUrl" controls></audio>
      </span>
    </div>
      <span class="text-xs font-light text-slate-300">
        {{ timeStamp | date : "hh:mm a" }}
      </span>
    </div>
  </div>
</div>