<div class="min-h-screen">
    <mat-toolbar class="header"></mat-toolbar>
    <div class="flex flex-row justify-between gap-2">
        <div class="bg-slate-500 justify-start">

        </div>

        <div *ngIf="signInFlag === false" class="justify-end gap-2 mt-32 w-1/2">
            <div class="flex flex-col justify-items-center items-center">
                <img src="assets/logo.png"  class="h-16 w-44 mx-auto"/>
                <span class="text-3xl font-light mx-auto"> Welcome </span>
                <span class="font-extralight text-stone-400 mx-auto"> Please login below </span>
                <mat-card class=" my-3 mx-auto">
                    <mat-card-content>
                        <form [formGroup]="userLoginForm" class="flex flex-col w-96 py-2">
                                <mat-form-field appearance="outline" class="flex-auto">
                                    <mat-label> Username </mat-label>
                                    <input matInput formControlName="userName" type="text"/>
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="flex-auto">
                                    <mat-label> Password </mat-label>
                                    <input matInput formControlName="password" type="password"/>
                                </mat-form-field>
                          </form>
                    </mat-card-content>

                    <mat-card-actions class="flex justify-between mb-2 items-center mx-4">
                        <button mat-raised-button color="primary"> 
                            Login
                        </button>
                        <span class="text-sm text-blue-500 cursor-pointer" > Forgot Password?</span>
                    </mat-card-actions>
                </mat-card>
                <div class="flex flex-row justify-between gap-2 items-center mx-auto">
                    <mat-divider class="w-12"></mat-divider>
                    <span class="text-sm font-semibold"> OR </span>
                    <mat-divider class="w-12"></mat-divider>
                </div>
                <h3 class="font-light py-2 cursor-pointer text-blue-500 mx-auto" (click)="onSignInClick()"> Click here to Signup</h3>
            </div>
        </div>

        <div *ngIf="signInFlag === true" class="justify-end gap-2 mt-32 w-1/2">
            <div class="flex flex-col justify-items-center items-center">
                <img src="assets/logo.png"  class="h-16 w-44 mx-auto"/>
                <span class="text-3xl font-light mx-auto"> Welcome </span>
                <span class="font-extralight text-stone-400 mx-auto"> Please sign up below </span>
                <mat-card class=" my-3 mx-auto">
                    <mat-card-content>
                        <form [formGroup]="userSignUpForm" class="w-96 py-2">
                            <div class="flex flex-row gap-2">
                                <mat-form-field appearance="outline" class="flex-auto">
                                    <mat-label> Full Name </mat-label>
                                    <input matInput formControlName="name" type="text"/>
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="flex-auto">
                                    <mat-label> Email </mat-label>
                                    <input matInput formControlName="email" type="email"/>
                                </mat-form-field>
                            </div>
                            <div class="flex flex-col gap-2">
                                <mat-form-field appearance="outline" class="flex-auto">
                                    <mat-label> Default Language </mat-label>
                                    <input
                                        matInput
                                        placeholder="Language Selection..."
                                        formControlName="defaultLanguage"
                                        type="text"
                                        [matAutocomplete]="sourceLanguage"
                                    />
                                    <mat-autocomplete
                                        #sourceLanguage="matAutocomplete"
                                        [displayWith]="displayFn"
                                    >
                                    <mat-option
                                      *ngFor="let option of defaultLanguageOptions$ | async"
                                      [value]="option"
                                      >{{ option.name }}</mat-option
                                    >
                                  </mat-autocomplete>
                                </mat-form-field>
                            </div>
                            <div class="flex flex-row gap-2">
                                <mat-form-field appearance="outline" class="flex-auto">
                                    <mat-label> Password </mat-label>
                                    <input matInput type="password" formControlName="password" />
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="flex-auto">
                                    <mat-label> Conform Password </mat-label>
                                    <input matInput type="password" formControlName="conformPassword"/>
                                </mat-form-field>
                            </div>
                        </form>
                    </mat-card-content>

                    <mat-card-actions class="flex justify-center mb-2">
                        <button mat-raised-button color="primary" class="w-72" (click)="onSignUp()"> 
                            Submit
                        </button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
</div>
